*{
	box-sizing: border-box;
	margin: 0;
}
#idLekeres, #idKigyujtTablazat{
    margin-bottom: 2rem;
	margin-top: 2rem;
    border-spacing: 0;
}
#idVisszjelzes{
    font-size: 2rem;
}
td,th{
    border: 2px solid gray;
    text-align: center;
    width: 10vw;
    height: 4vh;
}
#idLekeresContainer, #secondContainer{
	display: flex;
	justify-content: center;
	margin: 0;
}

title:hover::after {
	background: #add8e6;
	border-radius: 4px;
	bottom: 100%;
	content: attr(title);
	display: block;
	left: 100%;
	padding: 1em;
	position: absolute;    
	width: 280px;
	z-index: 1;
  }

#felulet{
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
}


tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

body {
	background: rgb(12,44,131);
	background: radial-gradient(circle, rgba(12,44,131,1) 0%, rgba(93,15,15,1) 84%);
	background-size: auto;
	height: fit-content;
}

@media only screen and (min-width: 992px) {
	#idLekeresContainer, #secondContainer{
	  font-size: 18px;
	}
}
  
@media only screen and (min-width: 750px) and (max-width: 991px) {
	#idLekeresContainer, #secondContainer{
	  font-size: 16px;
	}
}
  
@media only screen and (max-width: 749px) {
	#idLekeresContainer, #secondContainer{
	  font-size: 14px;
	}

}
strong{
    color: white;
}

.redButtonBorder{
	border: 2px solid red;
}
span{
	color: white;
	font-size: 2rem;
}
#idTalalatiLista{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#idKereses{
	margin-top: 5px;
}
  
